<!DOCTYPE html >
{% load static %}
<html>
	<head>
        <meta charset="utf-8"/>
		<title>Thermal</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>	
	<body>
        <table class="container-fluid m-auto  " >
            <tr class="row m-auto" style="padding-top: 10px">
                {% for s in gpuinfo %}
                <td  class="col-xs m-auto"><button id="{{ s.1 }}_status" type="button" class="btn {{ s.3 }} "  style="width: 100%; height: 70px; font-size: {{ s.4 }}px;border-radius: 15px">{{ s.1 }}</button></td>
                {% endfor %}
           </tr>

            <tr class="row m-auto" style="padding-top: 7px">
                {% for temp in gputemp %}
                <td class="col-xs m-auto"><button id="{{ temp.0 }}_temp"  type="button" class="btn btn-secondary  text-black-50" style="width: 100%;  font-size: 12px;border-radius: 15px ; ">{{ temp.1 }} ℃</button></td>
                {% endfor %}
            </tr>
            <tr class="row m-auto" style="padding-top: 7px">
                {% for power in powerMeter %}
                <td class="col-xs m-auto"><button id="Power{{ power.0 }}"  type="button" class="btn {{ power.2 }}  text-black-50" style="width: 100%;  font-size: 12px;border-radius: 15px ; ">{{ power.1 }} W</button></td>
                {% endfor %}
            </tr>
            <tr class="row m-auto" style="padding-top: 10px">
                {% for s in SwitchInfo %}
                <td  class="col-xs m-auto"><button id="{{ s.1 }}_status" type="button" class="btn {{ s.3 }} "  style="width: 100%; height: 70px; font-size: {{ s.4 }}px;border-radius: 15px">{{ s.1 }}</button></td>
                {% endfor %}
           </tr>
            <tr class="row m-auto" style="padding-top: 7px">
                {% for temp in switchTemp %}
                <td class="col-xs m-auto"><button id="{{ temp.0 }}_temp"  type="button" class="btn btn-secondary  text-black-50" style="width: 100%;  font-size: 12px;border-radius: 15px ; ">{{ temp.1 }} ℃</button></td>
                {% endfor %}
            </tr>
{#            <tr><td colspan="8"><hr></hr></td></tr>#}

            <tr class="row m-auto" style="padding-top: 10px">
                <td class="col m-auto" colspan="3">
                        <button type="button" class="btn btn-info" style="width: 100%; font-size: 30px;border-radius: 15px ; " onclick="window.location.href='/setlimit/'">Limit Setting</button>

{#                <td class="col m-auto" colspan="3"><button type="button" class="btn btn-warning" style=" width: 100%; font-size: 30px;border-radius: 15px ; ">Clear Alarm Message</button></td>#}
                <td class="col m-auto" colspan="3"><button type="button" class="btn btn-success" style=" width: 100%; font-size: 30px;border-radius: 15px ; " onclick="window.location.href='/cleanAlarm/'">清除报警信息</button></td>
            </tr>
        </table>
		<script src="{% static 'LocalJs/jquery.min.js' %}"></script>
        <script src="{% static 'LocalJs/homepage.js' %}"></script>
	</body>

</html>